.block1{
	padding-top : 50px;
	width: 700px;
	margin:auto;
}
.R1{
	width:30%;
	float:left;
	}
.R2{
	display: inline-block;
	margin-left:5%;	
	}
.R3{
	display: inline-block;
	float:right;
	}
.block2{
	padding-top : 30px;
	width: 700px;
	margin:auto;
}
.Dropdown{
	
	float:left;
	background-color: #dff0d8;	
}
.T1{
	font-weight: bold;
}
 .panel-title{
	font-weight: bold;
	font-size : 15px;

}
.panel-heading{
	color : #3c763d!important;
	background-color:#dff0d8!important;
	border-color:#d6e9c6!important;
}