.navbar{
	background-color: #01a885;
}
.navbar-brand {
	margin: 0px;
	padding: 5px 0px;
	background-color: white;
	height: 80px;
}
.navbar-brand:hover, .navbar-brand:focus {
	background-color: #fff!important;	
}
.navbar-brand img {
	height: 70px;
}
.b1{
	background-color: #efffef;
	/*width : 130px;*/
	height : 40px;
    /*border-radius: 8px;*/
	float : right;
	margin-top:20px;
	margin-right:5px;
	/*font-family : Calibri;*/
	/*font-size: 18px;*/
	text-align: center;
}

.nav {
	margin-top: 30px;
	margin-left: 10px;
}

.navbar-right li {
	color: #fff;
	padding-right: 8px;
}

.navbar-default .navbar-nav.navbar-right > li > a {
	position: inherit;
	padding: 0px 5px 0px;
	color: #eee;
	font-variant: small-caps;
	display: inline;
}

.navbar-default .navbar-nav.navbar-right > li > a:hover {
	position: inherit;
	padding: 0px 5px 0px;
	color: #333;
}

.navbar-left li {
	margin-right: 10px;
}

.navbar-left li.active a, .navbar-left li a:hover {
	border-bottom: 3px solid #000;
	padding-bottom: 12px;
}

.navbar-left li a {
	background-color: #efffef!important;
	color: #000;
}
.navbar-left li a:hover {
	background-color: #efffef!important;
	color: #000;
}


