.block1{
	background-color: #01a885;
	height : 50px;
}
.ecc {
	float:left;
	clear :none;
}
.b1{
	background-color: #efffef;
	width : 130px;
	height : 40px;
    border-radius: 8px;
	float : right;
	margin-top:5px;
	margin-right:5px;
	font-family : Calibri;
	font-size: 18px;
	text-align: center;
}
